{% extends "base0.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Registration</h1>
        <br>
        <div class="col-4">
            <form action="{% url 'register_url' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-4">Save</button>
            </form>
        </div>
        <br>
        <a href="/">Back home</a>
    </div>
    <br>
{% endblock %}