<!DOCTYPE html>
<html>
<body>
<br>

<h2>Thank you for your order, {{ order.first_name }}</h2>
<h3>Your Order ID: {{ order.short_uuid }}</h3>


<h3>Delivery Details:</h3>

{{ order.first_name }} <br>
{{ order.last_name }} <br>
{{ order.address}}

<h3>
  Contact Details:
</h3>
Email: {{ order.email }} <br/>
Phone: {{ order.phone }}

<h2>Order Details:</h2>

<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total Price</th>
  </tr>
  </thead>
  <tbody>
  {% for item in order.items_in_order %}
    <tr>
      <td>{{ item.title }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.total_price }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>