{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <main>
        <div class="container wow fadeIn">
            <h2 class="my-5 h2 text-center">Checkout form</h2>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="card">
                        <form action="{% url 'checkout_url' %}" method="POST" class="card-body">
                            {% csrf_token %}

                            {% if not user.is_authenticated %}
                                <h3>First Name</h3>
                                <div class="md-form mb-5">
                                    {{ form.first_name }}
                                </div>
                                    <hr>
                                <h3>Last Name</h3>
                                <div class="md-form mb-5">
                                    {{ form.last_name }}
                                </div>
                                    <hr>
                                <h3>Email</h3>
                                <div class="md-form mb-5">
                                    {{ form.email }}
                                </div>
                                    <hr>
                                <h3>Phone</h3>
                                <div class="md-form mb-5">
                                    {{ form.phone }}
                                </div>
                                    <hr>
                                <h3>Commentary</h3>
                                <div class="md-form mb-5">
                                    {{ form.commentary }}
                                </div>
                                    <hr>
                            {% endif %}

                            <h3>Delivery address</h3>
                            <div class='delivery_form'>
                                {{ form.address }}
                            </div>

                            {% if default_delivery_address %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="use_default_address"
                                           id="use_default_address">
                                    <label class="custom-control-label" for="use_default_address">Use default delivery
                                        address: {{ default_delivery_address|truncatechars:10 }}</label>
                                </div>
                            {% endif %}

                            <hr>
                            <h3>Payment option</h3>

                            <div class="d-block my-3">
                                {% for value, name in form.fields.payment_option.choices %}
                                    <div class="custom-control custom-radio">
                                        <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio"
                                               class="custom-control-input" required>
                                        <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                            <hr>
                            <h3>Delivery Time</h3>

                            <div class="md-form mb-5">
                                {{ form.delivery_time }}

                            </div>


                            <hr class="mb-4">
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

                        </form>

                    </div>

                </div>

                <div class="col-md-4 mb-4">
                    {% include "order_snippet.html" %}
                </div>

            </div>

        </div>
    </main>

{% endblock content %}

