{% extends "base0.html" %}

{% block title %} Main Page {% endblock %}

{% block content %}


    <div class="section section2 pierogi-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-left">
                        Pierogi
                    </h1>
                </div>
                {% for pierog in pierogi %}
{#                    {% include 'product_detail.html' %}#}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ pierog.image.url }}" class="card-img-top" alt="{{ pierog.title }}">
                        <div class="card-body">
                            <h5><a href="{% url 'product_detail_url' pk=pierog.pk %}" class="card-title">{{ pierog.title }}</a></h5>
                            <p class="card-text">{{ pierog.description }}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{#    <div class="section section2 bulki-container">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <h1 class="text-left">#}
{#                        Bulki#}
{#                    </h1>#}
{#                </div>#}
{#                {% for pierog in pierogi %}#}
{#                    {% include 'product_detail.html' %}#}
{#                    <div class="card" style="width: 18rem;">#}
{#                        <img src="{{ bulka.image.url }}" class="card-img-top" alt="...">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ bulka.title }}</h5>#}
{#                            <p class="card-text">{{ bulka.description }}</p>#}
{#                            <a href="#" class="btn btn-primary">Add to cart</a>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}